@model IEnumerable<ArchivosBaseDeDatos.Models.Entities.DocumentoRegistro>

@{
    ViewData["Title"] = "Historial";
}

<h1>Historial @ViewData["Documento"]</h1>

<div id="data_table">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Departamento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TiempoInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TiempoFin)
                    </th>
                    <th>
                        Dueño
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Destinatario)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TiempoInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TiempoFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destinatario)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>